:root {
  /* BREAKPOINTS */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px; /* <----- main breakpoint */
  --breakpoint-desktop: 1280px;

  /* COLORS */
  --primary-color: #de0d48;
  --yellow: #d4c30d;
  --purple: #722099;
  --blue: #1b0dde;
  --orange-dark: #c74b16;
  --orange-light: #de950d;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

.h2-yellow {
  color: var(--yellow);
  font-size: 16px;
  font-weight: bold;
}

.h2-orange-light {
  color: var(--orange-light);
  font-size: 16px;
  font-weight: bold;
}

.h2-purple {
  color: var(--purple);
  font-size: 16px;
  font-weight: bold;
}

.h2-white {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.h2-primary-color {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
}

.h2-join-us-title {
  color: var(--primary-color);
  font-size: 20px;
}
.h2-support {
  font-size: 20px;
  font-weight: bold;
}
.cards p {
  font-size: 14px;
}

.cards .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.cards-info h2 {
  font-weight: bold;
  font-size: 16px;
}

.cards-info-blue h2,
.cards-info-blue + button {
  color: var(--blue);
}

.cards-info-yellow h2,
.cards-info-yellow + button {
  color: var(--yellow);
}

.cards-info-black {
  background-color: black;
  padding: 16px;
}
.cards-info-black p {
  color: white;
}
.volunteer-paragraph {
  font-weight: bold;
}

.cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
