.h2-join-us-title {
  color: var(--primary-color);
  font-size: 20px;
}
.h2-support {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10 px;
}
.cards p {
  font-size: 14px;
}

.cards .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.cards {
  background-color: var(--gray-100);
}

.cards-info h2 {
  font-weight: bold;
  font-size: 16px;
}

.cards-info-blue h2,
.cards-info-blue + a {
  color: var(--blue);
}

.cards-info-yellow h2,
.cards-info-yellow + a {
  color: var(--yellow);
}

.cards-info-orange h2,
.cards-info-orange + a {
  color: var(--orange-light);
}

.cards-info-purple h2,
.cards-info-purple + a {
  color: var(--purple);
}

.cards-info-black h2,
.cards-info-black + a {
  color: var(--primary-color);
}

.cards-info-black {
  background-color: black;
}
.cards-info-black p {
  color: white;
}
.volunteer-paragraph {
  font-weight: bold;
}

.cards img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.full-screen-banner {
  height: unset;
  background: unset;
}
/* 
@media (max-width: 1023px) {
  .home-banner-title {
    display: none;
  }
}
.fa-chevron-down {
  display: none;
} */

@media (min-width: 1024px) {
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  .full-screen-banner {
    height: 100vh;
    background-image: url(../assets/img/Home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .full-screen-banner .logo {
    color: white;
  }
  .content-container {
    display: flex;
    flex-direction: column;
  }

  .support-us-picture {
    width: 50%;
    height: 225px;
    object-fit: cover;
    object-position: 0 40%;
  }

  .support-us-home-container {
    display: flex;
    flex-direction: row !important;
    gap: 16px;
    order: 3;
  }

  .join-us-home-container {
    order: 1;
  }
  .cards-container {
    order: 2;
  }

  .banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-banner-title {
    color: white;
    font-size: 60px;
  }
  .fa-chevron-down {
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .capital-letter {
    font-size: 30px;
    color: var(--primary-color);
  }

  .h2-join-us-title {
    display: none;
  }
}
