/*
  This file is used to style HTML included in multiple pages.
*/

:root {
  /* BREAKPOINTS */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px; /* <----- main breakpoint */
  --breakpoint-desktop: 1280px;

  /* COLORS */
  --primary-color: #de0d48;
  --yellow: #d4c30d;
  --purple: #722099;
  --blue: #1b0dde;
  --orange-dark: #c74b16;
  --orange-light: #de950d;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

html,
body {
  min-height: 100vh;
}

.container {
  padding: 20px;
  flex-direction: column;
}
.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #707070;
}

.exhibition-nav-title {
  color: #de0d48;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.footer-logo {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

img {
  width: 375px;
}

li {
  list-style: none;
}

.buy-ticket-button {
  background-color: #de0d48;
  color: white;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  width: 120px;
}
.get-involved-button {
  width: 165px;
  height: 70px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 12px;
}
.footer-container {
  height: 500px;
  width: 375px;
  background-color: var(--primary-color);
  margin-top: 40px;
  margin-left: -20px;
  padding: 20px;
  color: white;
}
.footer-container p {
  font-size: 14px;
}
.opening-hours-title {
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}
.location-title {
  margin-top: 20px;
  font-weight: bold;
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 60px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1152px;
    margin: 0 auto;
  }
}
