:root {
  /* BREAKPOINTS */
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px; /* <----- main breakpoint */
  --breakpoint-desktop: 1280px;

  /* COLORS */
  --primary-color: #de0d48;
  --yellow: #d4c30d;
  --purple: #722099;
  --blue: #1b0dde;
  --orange-dark: #c74b16;
  --orange-light: #de950d;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

.summary-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.summary-banner {
  /* how do I make this smaller? and fit (200px)*/
}
.thank-you {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #24a334;
}

.summary-paragraph {
  margin-bottom: 40px;
}

.summary-quantity {
}

.summary-total {
  color: var(--primary-color);
  font-weight: bold;
}

.summary-button-container {
  display: flex;
}
.summary-button {
  display: flex;
  width: 120px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}

.summary-button-white {
  display: flex;
  width: 120px;
  height: 50px;
  background-color: white;
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}
